body {
    background-color: rgba(20, 181, 55, 0.2);
}

.needs-validation1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: black;
}


#btnLogin {
    background-color: #2A8A5C;
}

#btnLogin:hover {
    background-color: #15b065;
}

/* Responsividade geral */
@media only screen and (max-width: 768px) {
    .tipos {
        margin-left: 0;
        text-align: center;
        font-size: 15px;
    }

    .informacoes,
    .informacoes2,
    .faleConosco,
    .input,
    .input2 {
        width: 90%;
        margin-left: 5%;
    }

    .input,
    .input2 {
        width: 90%;
        margin-left: 5%;
    }

    #btnLogin {
        width: 100%;
    }
}